torch==2.2.2
torchmetrics==1.3.2
torch-geometric==2.5.1
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
transformers==4.41.0
datasets
duckdb>=0.10.0
pyarrow
pandas>=2.0.0
numpy<2.0.0
scikit-learn
matplotlib
seaborn
networkx
requests
tqdm
rich
python-dotenv
